<div class="container">
    <h2>Useful Government Service</h2>
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate class="form-horizontal">
        <section >
            <div class="col-md-12">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" data-ng-model="name" required>
                        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Name is required.</p>
                    </div>


                    <div class="form-group">
                        <label>Sex:
                            <input type="radio" data-ng-model="gender" name="gender" value="male" checked> Male
                            <input type="radio" data-ng-model="gender" name="gender" value="female"> Female
                        </label>
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="age">Age</label>
                        <input type="text" id="age" name="age" class="form-control" data-ng-model="age" required maxlength="3" ng-minlength="1" ng-maxlength="3" size="3">
                        <p ng-show="userForm.age.$invalid && !userForm.age.$pristine" class="help-block">Age is required.</p>
                    </div>


                    <div class="form-group">
                        <label>
                            Country :
                            <select  required="required" class="selectpicker" data-ng-model="country">
                                <option value="">-- Select a Country --</option>
                                <option value="{{country.name}}" ng-repeat="country in countries">{{country.name}}</option>
                            </select>
                        </label>
                        <p ng-show="userForm.country.$invalid && !userForm.country.$pristine" class="help-block">Select a country.</p>
                    </div>
                    <div>

                        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Apply</button>
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </div>
        </section>
    </form>
</div>
